<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="teckconfdbEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MTI;initial catalog=teckconfdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="SyndicationServiceLibrary1.Feed1">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/SyndicationServiceLibrary1/" />
          </baseAddresses>
        </host>
        <endpoint contract="SyndicationServiceLibrary1.IFeed1" address="Feed1" binding="webHttpBinding" behaviorConfiguration="SyndicationServiceLibrary1.Feed1Behavior"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SyndicationServiceLibrary1.Feed1Behavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
