<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <anonymousIdentification enabled="true" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/" timeout="20" slidingExpiration="true" />
    </authentication>
    <authorization>
      <deny users="?" />
      <deny roles="guest" />
      <allow roles="admin" />
    </authorization>
    <roleManager defaultProvider="CustomRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="CustomRoleProvider" type="WebApplicationBackEnd.BusinessManagement.CustomRoleProvider" cacheTimeoutInMinutes="30" />
      </providers>
    </roleManager>

    <membership defaultProvider="CustomMemberShip">
      <providers>
        <clear />
        <add name="CustomMemberShip" type="WebApplicationBackEnd.BusinessManagement.CustomMemberShip" />
      </providers>
    </membership>
  </system.web>
  <connectionStrings>
    <add name="teckconfdbEntities" connectionString="metadata=res://*/DataAccess.Model1.csdl|res://*/DataAccess.Model1.ssdl|res://*/DataAccess.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MTI;initial catalog=teckconfdb;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>