@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <h2>Find events easily</h2>
        <p>
            Find conferences near you, there’s a world of events available; find the right one for you!
        </p>
    </div>
    <div class="col-md-6 col-md-offset-1 first-image-background">
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-6 first-image-background">
    </div>
    <div class="col-md-4 col-md-offset-1">
        <h2>Learn more about you love!</h2>
        <p>You're a NodeJS lover? Quickly find conferences that talk about this awesome technology in the search bar of the Events page</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <h2>Sync events with your Google Calendar</h2>
        <p>Organize your agenda by adding conferences to your Google Calendar and do not miss any conference anymore!</p>
    </div>
    <div class="col-md-6 col-md-offset-1 first-image-background">
    </div>
</div>