@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <h2><span class="glyphicon glyphicon-search" aria-hidden="true"></span>     Find events easily</h2>
        <p>
            Find conferences <strong>near you</strong>, there’s a world of events available; find the <strong>right one</strong> for you!
        </p>
    </div>
    <div class="col-md-6 col-md-offset-1 second-image-background">
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-6 third-image-background">
    </div>
    <div class="col-md-4 col-md-offset-1">
        <h2><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>      Learn more about what you love!</h2>
        <p>You're a NodeJS lover? <strong>Quickly</strong> find conferences that talk about this <strong>awesome</strong> technology in the search bar of the Events page</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <h2><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>     Sync events with your Google Calendar</h2>
        <p><strong>Organize</strong> your agenda by adding conferences to your <strong>Google Calendar</strong> and do not miss any conference anymore!</p>
    </div>
    <div class="col-md-6 col-md-offset-1 first-image-background">
    </div>
</div>